@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --black: #1b1f23;
    --white: #bbbcbe;
    --green: #80ea6e;
    --outrogreen: #347d28;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--black);
    color: var(--white);
    height: 100vh;
}
.menu_navegacao {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 64px;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2rem 0 0 3rem;
    font-family: "Do Hyeon", sans-serif;
}

.menu_navegacao li a {
    text-decoration: none;
    color: var(--outrogreen);
    gap: 2px;
    display: flex;
}

.icone_menu_mobile {
    display: none;
}

.menu_mobile {
    display: none;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13.125rem;
    padding: 10rem 9.625rem;
}

.apresentacao_conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-weight: 400;
    font-family: "Do Hyeon", sans-serif;
}
.apresentacao_conteudo_titulo_sobrenome {
    color: var(--outrogreen);
}
.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    line-height: 36px;
}
.foto_wesley {
    height: 30rem;
    border-radius: 8px;
}

.links_pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.563rem;
}

.links_pessoais p {
    font-family: "Do Hyeon", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.links_pessoais a {
    border: 1px solid var(--outrogreen);
    width: 378px;
    height: 68px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--white);
    font-family: "Lato", sans-serif;
}

footer p {
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 1.563rem 0;
}

@media (max-width: 1180px) {
   .apresentacao {
       flex-direction: column-reverse;
       width: 100%;
       gap: 12px;
    }
}

@media (max-width: 800px) {
    .apresentacao {
        padding: 10rem 1rem;
    }
    nav {
        display: flex;
        flex-direction: row-reverse;
        padding: 2rem 0 0 3rem;

    }
    .menu_navegacao li {
        display: none;
    }
    .icone_menu_mobile {
        display: block;
    }
    .icone_menu_mobile button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu_mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .menu_mobile ul li {
        display: block;
        padding-top: 1.2rem;
    }
    .links_pessoais p {
        font-size: 1.3rem;
    }
    .links_pessoais a {
        width: 350px;
    }
    .mostrar_menu {
        display: block;
    }
}